.site-header{
    height:60px;
    width:100%;
    background-color: rgb(148, 97, 97);
    display: flex;
    margin-bottom: 30px;
}

.site-header img{
    height:80px;
    width:auto;
    margin-left: 30px;
    margin-right: 30px;
}

.site-header h2{
    font-size: 48px;
    color: white;
    margin-top: 0;
}